* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(26, 11, 46, 1);
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn-gradient {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10000px;
  padding: 12px 16px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-gradient:hover {
  transform: scale(1.05);
}

.title-2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2.5rem;
}

/* Main Styles */
/* Navbar Styles */
nav {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.nav-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.nav-heading span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-menu-container .nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-menu-container .nav-menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

/* Host section styles */
#host-section {
  max-width: 1200px;
  margin: 0 auto;
}

#host-section .host-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 2.5rem;
  border-radius: 2.5rem;
}

#host-section .host-description h3,
p {
  color: rgba(255, 255, 255, 1);
}

#host-section h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#host-section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0.6;
}

#host-section .social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#host-section .icons {
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 100%;
  padding: 0.6rem;
}
