* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.btn-gradient {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10000px;
  padding: 12px 16px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn-gradient:hover {
  transform: scale(1.05);
}

.btn-secondary {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 255, 136, 1);
  border: 2px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  padding: 12px 16px;
  background: transparent;
  cursor: pointer;
}

.btn-secondary:hover {
  transform: scale(1.05);
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.title-1 {
  font-size: 3.75rem;
  font-weight: 800;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.title-2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2.5rem;
}

/* Main Styles */
/* Header Styles */
header {
  background-color: rgba(26, 11, 46, 1);
}
/* Navbar Styles */
nav {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.nav-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.nav-heading span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-menu-container .nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-menu-container .nav-menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

header .hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 7.5rem;
}

header .hero-section .microphone-bg {
  background-image: url("../assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding-top: 4.3125rem;
  padding-bottom: 5.0625rem;
  padding-inline: 4.6875rem;
  margin-bottom: 2.5rem;
}

header h2 {
  font-size: 3.75rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* About Podcast Section Styles */
#podcast-section {
  padding-top: 3.125rem;
  padding-inline: 12.5rem;
  padding-bottom: 7.5rem;
  background-color: rgba(26, 11, 46, 1);
}

#podcast-section .podcast-description {
  max-width: 1200px;
  margin: 0 auto;
}

#podcast-section .podcast-description h2 {
  margin-bottom: 1rem;
}

#podcast-section .podcast-description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  opacity: 0.8;
}

#podcast-section hr {
  border: none;
  height: 0.125rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#podcast-section .podcast-states {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  text-align: center;
}

#podcast-section .podcast-states h3 {
  font-size: 3rem;
  font-weight: bolder;
  color: rgba(0, 255, 136, 1);
  margin-bottom: 1rem;
}

#podcast-section .podcast-states p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.8;
}

/* Grid Section Styles */
#grid-section {
  padding-top: 3.125rem;
  padding-inline: 12.5rem;
  background-color: rgba(35, 14, 61, 1);
}

#grid-section .grid-container {
  max-width: 1360px;
  margin: 0 auto;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding-bottom: 7.5rem;
}

#grid-section .vertical-layout {
  grid-row: span 2;
}

#grid-section .horizontal-layout {
  grid-column: span 2;
}

#grid-section .small-layout {
  grid-column: span 1;
}

#grid-section .grid-container div {
  border-radius: 2.5rem;
  padding: 2.5rem;
  background-color: rgba(53, 17, 101, 0.4);
}

#grid-section .grid-container img {
  margin-bottom: 1rem;
}

#grid-section .grid-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 1);
}

#grid-section .grid-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

/* Featured Episodes Section Styles */
#episodes-section {
  max-width: 1360px;
  margin: 0 auto;
  padding: 7.5rem 12.5rem;
}

#episodes-section .video-cards {
  display: flex;
  gap: 2rem;
}

#episodes-section .card-description {
  padding: 1.5rem;
  background-color: rgba(37, 13, 68, 1);
}

/* Host section styles */
#host-section {
  background-color: rgba(26, 11, 46, 1);
  padding-bottom: 7.5rem;
}

#host-section .host-card {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 2.5rem;
  border-radius: 2.5rem;
}

#host-section .host-description h3,
#host-section .host-description p {
  color: rgba(255, 255, 255, 1);
}

#host-section h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#host-section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
  opacity: 0.6;
}

#host-section .social-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#host-section .icons {
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 100%;
  padding: 0.6rem;
}

/* Footer Styles */
#techwave-footer {
  max-width: 1360px;
  margin: 0 auto;
  padding: 7.5rem;
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#techwave-footer h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2rem;
}

#techwave-footer h1 span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#techwave-footer .footer-social {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#techwave-footer .icons {
  display: flex;
  gap: 0.625rem;
}

#techwave-footer .icons h4 {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

#techwave-footer .footer-bottom {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
}
